@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  /* color: var(--black); */
}
:root{
  /* --btn-color: #a328c9; */
  /* --btn-color: #3a8bb1; */
  --btn-color: #d19254;
  --white: #fff;
  --black: #0c0c0c;
  --semi-white: #adadad;
  --back-icon: #fcf4ec;
  --icon-link: #c9ab62;
  --sec-padding: 100px;
  --footer-back: #372e29;
  --btn-m-top: 80px;
  --line-color: rgb(218, 218, 218);
  --color-1:rgb(78, 78, 78);
  --star-active: #f57005;
}
a{
  text-decoration: none;
}
.started-btn{
  background-color: var(--btn-color);
  color: var(--white);
  margin: 0 auto;
  padding: 15px 40px;
  /* background: rgb(250,243,92);
  background: radial-gradient(circle, rgb(223 156 69) 0%, rgb(223 138 71) 100%); */
  /* background: rgb(232,173,114);
  background: linear-gradient(0deg, rgba(232,173,114,1) 0%, rgba(209,146,84,1) 100%); */
}
.btn-section{
  margin-top: var(--btn-m-top);
}
.sec-padding{
  padding-bottom: var(--sec-padding);
}
.btn-link{
  position: relative;
  text-decoration: none!important;
  color: var(--black);
}
.btn-link:hover{
  color: var(--black);
}
.btn-link::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--black);
  bottom: -5px;
  transition: .3s;
  left: 0;
}
.btn-link:hover::after{
  width: 0;
}
.head-nav .up-nav{
  padding: 10px 0;
  background-color: var(--black);
}
.head-nav .up-nav a{
  color: var(--white);
}
.navbar a{
  color: var(--black);
}
.navbar .icons a{
  margin-left: 30px;
}
.navbar .icons a svg{
  width: 18px;
  height: 18px;
}
.navbar .icons .profile a svg{
  width: 20px;
  height: 20px;
}
.navbar .navbar-brand{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.navbar .navbar-brand img{
  width: 30px;
}
.navbar-nav .nav-link{
  position: relative;
  transition: .3s;
  margin-right: 25px;
  padding-left: 0!important;
  padding-right: 0!important;
}
.navbar-nav .nav-link:hover::after{
  width: 100%;
}
.navbar-nav .nav-link::after{
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  background-color: var(--black);
  bottom: -5px;
  transition: .2s;
  left: 0;
}
.head-nav {
  background: rgb(255,251,246);
  background: -moz-linear-gradient(0deg, rgba(255,251,246,1) 0%, rgba(252,244,236,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(255,251,246,1) 0%, rgba(252,244,236,1) 100%);
  background: linear-gradient(0deg, rgba(255,251,246,1) 0%, rgba(252,244,236,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffbf6",endColorstr="#fcf4ec",GradientType=1);
}
.head-nav .header-des{
  margin-bottom: 25px;
  padding-top: 50px;
}
.head-nav .header-des .main-des{
  font-size: 60px;
}
.head-nav .header-des .sec-des{
  font-size: 30px;
}
.auto-animate{
  display: flex;
  overflow: hidden;
}
.auto-animate.links{
  background: var(--back-icon);
  padding: 40px 0px;
  margin-top: 100px;
}
.auto-animate.links a{
  color: var(--icon-link);
}
 .auto-animate .sec{
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  white-space: nowrap;
  animation: animateImg 0s linear infinite;
  will-change: transform;
  flex-shrink: 0;
  animation-duration: 100s;
}
@keyframes animateImg{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}
.auto-animate .sec a img{
  width: 250px;
  height: 200px;
  border-radius: 5px;
}
.auto-animate .sec a h3{
  border-radius: 5px;
}
.knowledge .all-desc{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.knowledge a{
  color: var(--black);
  position: relative;
  overflow: hidden;
  text-decoration: underline;
}
.knowledge .video{
  background-color: var(--semi-white);
  width: 90%;
  height: 380px;
  position: relative;
}
.knowledge .video .img-screen{
  width: 100%;
  height: 100%;
}
.knowledge .video .img-container{
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
}
.knowledge .video .animate-rotate{
  animation-duration: 30s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-name: introducing_circle;
  animation-iteration-count: infinite;
}
@keyframes introducing_circle {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }

  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg)
  }
}
.knowledge .back-img{
  position: relative;
  height: 100%;
}
.knowledge .back-img .play-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(calc(50% - 100%),calc(50% - 100%)); */
  transform: translate(-50%, -50%);
  padding: 50px;
  border: 1px solid var(--btn-color);
  background: rgba(0, 0, 0, .1);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 50%;
  cursor: pointer;
}
.knowledge .back-img .play-btn .title{
  color: var(--white);
}
.classes .item .title{
  width: 180px;
  margin: auto;
}
.classes .item .icon{
  position: relative;
  margin-bottom: 35px;
}
.classes .item .icon::after{
  content: '';
  position: absolute;
  top: 50%;
  background-color: var(--back-icon);
  padding: 35px;
  border-radius: 50%;
  margin: auto;
  right: 50%;
  z-index: -1;
  transform: translate(50%,-50%);
}
.dessert .tab-links{
  margin: 50px 0px;
}
.dessert .tab-links a{
  background-color: var(--btn-color);
  color: var(--white);
  padding: 10px 20px;
  margin: 0px 10px;
}
.dessert .item,
.also-like .swiper-slide .item,
.products-page .product-section .item{
  position: relative;
  background: var(--back-icon);
  display: flex;
  padding: 20px 0px;
  border-radius: 10px;
  height: 450px;
  flex-direction: column;
  justify-content: space-between;
  color: var(--black);
  text-align: center;
}
.dessert .item .cart-icon,
.also-like .swiper-slide .item .cart-icon,
.products-page .product-section .item .cart-icon{
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
}
.dessert .item .cart-icon svg,
.also-like .swiper-slide .item .cart-icon svg,
.products-page .product-section .item .cart-icon svg{
  stroke: var(--black);
  font-size: 16px;
  width: 17px!important;
  height: 17px!important;
  transition: .2s;
  position: relative;
}
.dessert .item .cart-icon::after,
.also-like .swiper-slide .item .cart-icon::after,
.products-page .product-section .item .cart-icon::after{
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  width: 5px;
  height: 1px;
  background-color: var(--black);
}
.dessert .item .cart-icon::before,
.also-like .swiper-slide .item .cart-icon::before,
.products-page .product-section .item .cart-icon::before{
  content: '';
  position: absolute;
  top: 3px;
  right: 7px;
  width: 1px;
  height: 5px;
  background-color: var(--black);
}
.dessert .item .cart-icon:hover svg path,
.also-like .swiper-slide .item .cart-icon:hover svg path,
.products-page .product-section .item .cart-icon:hover svg path{
  stroke: var(--btn-color);
  transition: .2s;
}
.dessert .item .cart-icon:hover::before,
.dessert .item .cart-icon:hover::after,
.also-like .swiper-slide .item .cart-icon:hover::before,
.also-like .swiper-slide .item .cart-icon:hover::after,
.products-page .product-section .item .cart-icon:hover::before,
.products-page .product-section .item .cart-icon:hover::after{
  background-color: var(--btn-color);
  transition: .2s;
}
.dessert .item img,
.also-like .swiper-slide .item img,
.products-page .product-section .item img{
  height: 250px;
  max-width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px;
  transition: .4s;
}
.dessert .item .title,
.also-like .swiper-slide .item .title,
.products-page .product-section .item .title{
  padding: 0px 15px;
}
.dessert .item .price,
.also-like .swiper-slide .item .price,
.products-page .product-section .item .price{
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid var(--semi-white);
}
.cards .item{
  padding: 0px 20px;
}
.cards .item a{
  color: var(--black);
}
.cards .item img{
  height: 400px;
  margin-bottom: 25px;
}
.cards .item .title{
  margin-bottom: 25px;
}

.rates .ratesSwiper .swiper-slide{
  width: 45%;
  margin-right: 20px;
}
.rates .ratesSwiper .item{
  display: flex;
  background-color: var(--back-icon);
  padding: 50px 25px;
  border-radius: 5px;
}
.rates .ratesSwiper .item img{
  width: 265px;
  height: 200px;
  margin-right: 25px;
  border-radius: 5px;
}
.rates .ratesSwiper .item .info {
  font-size: 18px;
  font-weight: 500;
}
.rates .ratesSwiper .item .info .comment{
  margin: 10px 0px;
}
.blogs .blogsSwiper .item{
  padding: 0px 20px;
}
.blogs .blogsSwiper .item img{
  width: 100%;
  height: 200px;
}
.blogs .blogsSwiper .item .title a,
.blogs .blogsSwiper .item .hint a{
  color: var(--black);
}
.blogs .blogsSwiper .item .hint{
  margin: 10px 0;
}
.featured .imges{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.featured .imges img{
  height: 100%;
}
.unlock,
.product-buy .unlock{
  background-color: var(--back-icon);
  padding: 100px 0;
}
.unlock .buttons a,
.product-buy .unlock .buttons a{
  margin: 0 10px;
}
.unlock .buttons a.gift,
.product-buy .unlock .buttons a.gift{
  margin: 0px 10px;
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  margin: 0 auto;
  padding: 10px 30px;
}
.subscribe form .email-section,
.product-buy .subscribe form .email-section{
  width: 100%;
  margin-top: 80px;
  border-bottom: 2px solid var(--semi-white);
  position: relative;
  padding: 15px 0;
}
.subscribe form .email-section .email,
.product-buy .subscribe form .email-section .email{
  width: 100%;
  border: none;
  outline: none;
  padding-right: 20px;
}
.subscribe form .email-section .submit,
.product-buy .subscribe form .email-section .submit{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(calc(50% - 100%));
  color: var(--btn-color);
  background: none;
  outline: none;
  border: none;
  font-size: 18px;
}
.footer{
  background-color: var(--footer-back);
  color: var(--white);
  padding: 100px 0;
}
.footer .title{
  margin-bottom: 25px;
}
.footer li a{
  color: var(--white);
  text-decoration: none;
  font-weight: 500;
}
.footer ul{
  padding: 0;
}
.footer li{
  list-style-type: none;
  margin-bottom: 10px;
}
.footer ul.social li svg{
  margin-right: 5px;
}
.modal{
  --bs-modal-width: 650px;
}
.modal-content{
  padding-bottom: 25px;
}
.modals .modal-header{
  border-bottom: none;
}
.modals .remember-sec label{
  color: var(--color-1);
}
.modals .remember-sec label,
.modals .remember-sec input{
  cursor: pointer;
}
.modals .social .title{
  position: relative;
  color: var(--color-1);
}
.modals .social .title::after{
  content: '';
  position: absolute;
  width: 36%;
  height: 1px;
  background-color: var(--line-color);
  top: 50%;
  left: 0;
}
.modals .social .title::before{
  content: '';
  position: absolute;
  width: 36%;
  height: 1px;
  background-color: var(--line-color);
  top: 50%;
  right: 0;
}
.modals .social a{
  padding: 8px 16px;
  background-color: var(--footer-back);
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  margin-left: 7px;
  margin-right: 7px;
}
.modals .social a.facebook{
  background-color: #316FF6;
  color: var(--white);
}
.modals .social a.google{
  background-color: #EA4335;
  color: var(--white);
}
.modals .btn-login,
.modals .btn-sign,
.modals .btn-reset,
.modals .back-login{
  background-color: var(--btn-color);
  padding: 10px 0;
  color: var(--white);
  border: none;
  border-radius: 5px;
}
.modals .link-color{
  color: var(--color-1);
  text-decoration: underline;
  font-size: 15px;
}
.modals .link-color.back-to-login{
  text-decoration: none;
}
.modals .login-signup .tab-btn{
  background-color: var(--white);
  color: black;
  border: none;
  padding: 8px 25px;
  border-radius: 6px 0 0 6px;
}
.modals .login-signup .tab-btn.sign{
  border-radius: 0 6px 6px 0;
}
.modals .login-signup .tab-btn.active{
  /* background-color: var(--footer-back); */
  background-color: rgb(70, 70, 70);
  color: var(--white);
}
.modal-body .form-check .form-check-input:focus{
  box-shadow: none;
}
.modal-body .form-check .form-check-input{
  float: none;
}
.modal-body .form-control{
  box-shadow: none;
}
.modal-body label{
  left: auto;
}
.modal-body .form-check-input:checked {
  background-color: var(--color-1);
  border-color: var(--color-1);
}
/* courses */
.courses{
  padding: 100px 0;
}
.courses .img{
  position: relative;
  height: 250px;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
}
.courses .img img{
  width: 100%;
  transition: .3s;
}
.courses .description{
  padding: 25px 15px;
  padding-right: 30px;
  background-color: #f5f5f5;
  position: relative;
  box-shadow: 0px 6px 15px -15px var(--black);
}
.courses .prices{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-25px, -50%);
  display: flex;
}
.courses .price{
  padding: 5px 10px;
  background-color: var(--btn-color);
  color: var(--white);
  border-radius: 5px;
  font-size: 15px;
}
.courses .price:last-child{
  margin-left: 10px;
}
.courses .category{
  margin-bottom: 10px;
}
.courses .category a{
  color: var(--btn-color);
  padding: 1px 3px;
  border-radius: 3px;
  background-color: var(--white);
  font-size: 15px;
}
.courses .title a{
  color: var(--black);
}
.courses .title,
.courses .rate,
.courses .desc
{
  margin-bottom: 5px;
}
.courses .groups{
  padding-top: 15px;
  color: #5c5b5b;
  font-size: 14px;
}
.header-page{
  padding-top: 100px;
  padding-bottom: 100px;
  /* background-color: var(--back-icon); */
  background: rgb(255,251,246);
  background: -moz-linear-gradient(0deg, rgba(255,251,246,1) 0%, rgba(252,244,236,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(255,251,246,1) 0%, rgba(252,244,236,1) 100%);
  background: linear-gradient(0deg, rgba(255,251,246,1) 0%, rgba(252,244,236,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffbf6",endColorstr="#fcf4ec",GradientType=1);  
}
.courses .img .buy{
  position: absolute;
  top: 25px;
  transition: .3s;
  opacity: 0;
  right: 25px;
}
.courses .img .buy a{
  padding: 5px 15px;
  font-size: 14px;
  background-color: var(--btn-color);
  color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 1px 4px -1px var(--black);
}
.star-rating {
  font-size: 24px;
  cursor: pointer;
}
.star {
  color: #999;
  display: inline-block;
  margin-right: 0px;
  transition: .3s;
  margin-right: 0;
}
.star.active {
  color: var(--star-active);
}
.course-subscribe{
  padding: 50px 0;
}
.course-subscribe .video-section .video-frame iframe{
  border-radius: 5px;
  height: 500px;
}
.course-subscribe .video-section .description .hint{
  margin-top: 5px;
}
.course-subscribe .video-section .description .hint .course-type a{
  background-color: var(--color-1);
  color: var(--white);
  font-size: 14px;
  padding: 2px 4px;
  border-radius: 5px;
}
.course-subscribe .video-section .description .hint .star-rating{
  cursor: default;
}
.course-subscribe .video-section .description .hint .star-rating .star{
  color: var(--star-active);
  font-size: 16px;
  margin-right: 0;
  font-weight: 600;
}
.course-subscribe .video-section .description .hint .star-rating .reviews-num{
  font-size: 16px;
}
.course-subscribe .video-section .description .title{
  margin-top: 10px;
}
.course-subscribe .nav{
  background-color: var(--back-icon);
  padding: 10px;
  border-radius: 10px;
}
.course-subscribe .nav .nav-item{
  margin-right: 15px;
  background-color: var(--white);
  border-radius: 10px;
}
.course-subscribe .nav .nav-link{
  width: 100%;
  transition: none;
  color: var(--color-1);
  font-weight: 600;
}
.course-subscribe .nav .nav-link.active{
  color: var(--white);
  background: var(--btn-color);
}
.course-subscribe .tab-content .videos-list{
  margin-top: 25px;
}
.course-subscribe .tab-content .videos-list .video-item{
  color: var(--color-1);
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.course-subscribe .tab-content .videos-list .video-item.active{
  background: var(--back-icon);
  padding: 5px 0;
  border-radius: 5px;
}
.course-subscribe .tab-content .videos-list .video-item.active .icon svg{
  color: var(--btn-color);
}
.course-subscribe .tab-content .videos-list .video-item .title{
  font-weight: 500;
  font-size: 16px;
}
.course-subscribe .tab-content .videos-list .video-item .preview{
  font-weight: 600;
  font-size: 14px;
}
.course-subscribe .tab-content .videos-list .video-item .preview .play a{
  background-color: rgb(255 195 147);
  color: rgb(51 51 51);
  margin-left: 5px;
  padding: 3px 10px;
  border-radius: 5px;
  font-weight: 500;
}
.course-subscribe .tab-content .videos-list .video-item .preview .locked a{
  background-color: none;
  color: var(--color-1);
  margin-left: 5px;
}
.course-subscribe .tab-content .review-list .review-item,
.course-subscribe .tab-content .chef-list .chef-item{
  display: flex;
  padding: 30px 0;
  border-bottom: 1px solid var(--line-color);
}
.course-subscribe .tab-content .chef-list .chef-item:last-child{
  border-bottom: none;
}
.course-subscribe .tab-content .review-list .review-item .img-profile,
.course-subscribe .tab-content .chef-list .chef-item .img-profile{
  width: 130px;
  height: 115px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}
.course-subscribe .tab-content .review-list .review-item .img-profile img,
.course-subscribe .tab-content .chef-list .chef-item .img-profile img{
  height: 100%;
}
.course-subscribe .tab-content .review-list .star-group{
  margin: 3px 0;
}
.course-subscribe .tab-content .review-list .star-group .star{
  margin-right: 0;
  font-size: 20px;
  font-weight: bold;
  color: var(--star-active);
}
.course-subscribe .tab-content .review-list .comment,
.course-subscribe .tab-content .chef-list .comment{
  text-align: justify;
  width: 80%;
  color: var(--black);
}
.course-subscribe .tab-content .add-review{
  padding: 20px 10px;
  border-radius: 10px;
  background-color: var(--back-icon);
  margin-top: 20px;
}
.course-subscribe .tab-content .description .hint{
  text-align: justify;
  width: 95%;
  color: var(--black);
  margin-bottom: 15px;
}
.course-subscribe .tab-content .description .item ul li{
  list-style-type: square;
}
.course-subscribe .tab-content .add-review .title{
  margin-right: 15px;
  margin-left: 5px;
}
.course-subscribe .tab-content .add-review .star-rating .star{
  margin-right: 0;
  font-size: 25px;
}
.course-subscribe .tab-content .add-review .choose{
  display: flex;
  align-items: center;
}
.course-subscribe .tab-content .add-review form{
  text-align: right;
}
.course-subscribe .tab-content .add-review textarea{
  outline: none;
  height: 150px;
  resize: none;
}
.course-subscribe .tab-content .add-review textarea:focus{
  border-color: var(--semi-white);
  box-shadow: none;
}
.course-subscribe .tab-content .add-review .submit{
  margin-top: 15px;
  padding: 5px 20px;
  background: var(--btn-color);
  color: var(--white);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-right: auto;
}
.course-subscribe .tab-content .chef-list .chef-item .desc .username{
  font-weight: 600;
}
.course-subscribe .tab-content .chef-list .chef-item .desc .job-title{
  font-size: 14px;
  color: var(--color-1);
  margin-bottom: 5px;
}
.course-subscribe .tab-content{
  padding: 25px 0;
  border-radius: 10px;
  border: 1px solid var(--line-color);
}




.course-subscribe .details{
  background-color: var(--white);
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 0px 3px var(--line-color);
  margin-bottom: 25px;
}
.course-subscribe .details .main-title {
  margin: 0 auto;
  /* background-color: var(--back-icon); */
  color: var(--color-1);
  background-color: var(--back-icon);
  border-radius: 5px 5px 0px 0px;
}
.course-subscribe .details .main-title .title{
  margin: 0 auto;
}
.course-subscribe .details .item:first-child{
  border-bottom: none;
}
.course-subscribe .details .item{
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  border-bottom: 1px solid var(--line-color);
}
.course-subscribe .details .item svg{
  color: var(--btn-color);
}
.course-subscribe .details .item.price .num span{
  color: var(--color-1);
  background-color: var(--back-icon);
  font-weight: 500;
  padding: 1px 5px;
  border-radius: 3px;
}
.course-subscribe .details .item.price .num .dollar{
  margin-right: 5px;
}
.course-subscribe .details .item:last-child{
  border-bottom: none;
}
.course-subscribe .details .item .buy-btn{
  padding: 15px 0px;
  background-color: var(--btn-color);
  color: var(--white);
  outline: none;
  border: none;
  border-radius: 5px;
}
.course-subscribe .latest-course .item-course{
  display: flex;
  padding: 15px 10px;
  border-bottom: 1px solid var(--line-color);
}
.course-subscribe .latest-course .item-course:last-child{
  border-bottom: none;
}
.course-subscribe .latest-course .item-course .img{
  width: 100px;
  height: 80px;
  overflow: hidden;
  border-radius: 5px;
  margin-right: 5px;
}
.course-subscribe .latest-course .item-course .img img{
  height: 100%;
  border-radius: 5px;
  transition: .3s;
}
.course-subscribe .latest-course .item-course .stars{
  font-size: 15px;
  margin-right: 0;
}
.course-subscribe .latest-course .item-course .price{
  font-size: 14px;
}
.course-subscribe .latest-course .item-course .desc .title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.course-subscribe .latest-course .item-course .desc .title a{
  color: var(--black);
}
.course-subscribe .latest-course .item-course .desc .title a:hover{
  color: var(--btn-color);
  transition: .2s;
}
/* .product-buy page */
.product-buy{
  padding-top: 100px 0;
}
.product-buy .product-buy-form .input-wrapper {
  display: inline-flex;
  justify-content: space-between;
  border: 1px solid var(--semi-white);
  border-radius: 50px;
  overflow: hidden;
  height: 50px;
  width: 97%;
  align-items: center;
  overflow: hidden;
}
.product-buy .product-buy-form .input-wrapper .button {
  padding: 5px 30px;
  background-color: var(--white);
  color: #fff;
  border: none;
  cursor: pointer;
  position: relative;
  height: 100%;
}
.product-buy .product-buy-form .input-wrapper #quantity {
  display: inline-block;
  padding: 5px 10px;
  border: none;
  text-align: center;
  color: var(--color-1);
  margin-right: -10px;
  background: none;
}
.product-buy .product-buy-form .input-wrapper .button.minus::after{
  position: absolute;
  content: '-';
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-52%);
  font-size: 25px;
  color: var(--black);
}
.product-buy .product-buy-form .input-wrapper .button.plus::after{
  position: absolute;
  content: '+';
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-52%);
  font-size: 25px;
  color: var(--black);
}
.product-buy .product-buy-form{
  justify-content: space-between;
  display: flex;
}
.product-buy .product-buy-form .add-cart{
  width: 100%;
  height: 50px;
  border-radius: 50px;
  border: none;
  background: var(--btn-color);
  color: var(--white);
  outline: none;
}
/* product-buy img side container */
.product-buy .side-img{
  overflow: hidden;
  display: flex;
  padding: 15px 0;
}
.product-buy .side-img .thumbnail .img-item{
  height: 80px;
  width: 80px;
  overflow: hidden;
  border: 1px solid var(--line-color);
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.product-buy .side-img .thumbnail .img-item.active{
  border-bottom-color: var(--btn-color);
}
.product-buy .side-img .thumbnail .img-item img{
  width: 100%;
  height: 100%;
}
.product-buy .side-img .img-show{
  overflow: hidden;
}
.product-buy .side-img .img-show .img-container{
  width: 100%;
  height: 600px;
  padding: 0 10px;
}
.product-buy .side-img .img-show img{
  width: 100%;
  height: 100%;
}
/* description side */
.product-buy .description{
  margin-top: 30px;
}
.product-buy .description .price{
  margin-top: 30px;
  font-weight: 600;
  font-size: 18px;
}
.product-buy .description .desc{
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid var(--line-color);
}
.product-buy .description .product-buy-form{
  margin-top: 40px;
}
.also-like{
  padding: 50px 0;
  border-top: 1px solid var(--line-color);
  margin-bottom: 30px;
  margin-top: 100px;
}
.also-like .title-section{
  padding-bottom: 25px;
  color: var(--color);
}
/* shop cart page */
.cart-page{
  padding: 50px 0px;
}
.cart-page table .item img{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 5px;
}
.cart-page table thead{
  border-bottom: 1px solid var(--color-1);
  font-weight: 600;
}
.cart-page table .item td{
  line-height: 40px;
  color: var(--color-1);
  font-weight: 600;
}
.cart-page table .item .del-item{
  cursor: pointer;
  margin-right: 15px;
}
.cart-page table .item .p-name{
  color: var(--color-1);
  transition: .2s;
}
.cart-page table .item .p-name:hover{
  color: var(--btn-color);
}
.cart-page .summary{
  font-weight: 600;
}
.cart-page .summary .title-section{
  padding-bottom: 15px;
  padding-top: 8px;
  border-bottom: 1px solid var(--color-1);
  font-weight: 600;
}
.cart-page .summary .summary-item{
  display: flex;
  justify-content: space-between;
  padding: 25px 0px;
  border-bottom: 1px solid var(--line-color);
}
.cart-page .summary .summary-btn{
  padding: 20px 0px;
  text-align: center;
  width: 100%;
  background-color: var(--btn-color);
  color: var(--white);
  display: block;
  margin-top: 25px;
}
/* shop cart slide */
.main-cart-shop{
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  display: none;
}
.main-cart-shop .back{
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0.6;
  position: fixed;
  top: 0;
  right: 0;
}
.main-cart-shop .section{
  height: 100vh;
  width: 400px;
  background-color: var(--white);
  right: 0;
  position: absolute;
  padding: 0 15px ;
  transition: .3s;
  margin-right: -400px;
  z-index: 10;
}
.main-cart-shop .section .cart-item{
  position: relative;
  display: flex;
  border-bottom: 1px solid var(--line-color);
  padding: 10px 0;
}
.main-cart-shop .section .head{
  padding: 15px 0px;
}
.main-cart-shop .section .head .close-cart{
  text-align: right;
  cursor: pointer;
  margin-bottom: 10px;
}
.main-cart-shop .section .head .close-cart svg{
  width: 30px;
  height: 30px;
}
.main-cart-shop .section .cart-item .img{
  height: 80px;
  width: 80px;
  margin-right: 10px;
}
.main-cart-shop .section .cart-item .img img{
  border-radius: 5px;
  height: 100%;
}
.main-cart-shop .section .cart-item .info .title a{
  color: var(--black);
  margin-bottom: 5px;
  display: block;
  font-size: 15px;
}
.main-cart-shop .section .cart-item .info .price{
  color: var(--color-1);
  font-size: 14px;
}
.main-cart-shop .section .cart-item .info .del-item{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.main-cart-shop .section .cart-item .info .del-item svg{
  width: 20px;
  height: 20px;
  transition: .2s;
}
.main-cart-shop .section .cart-item .info .del-item svg:hover{
  color: var(--btn-color)
}
.main-cart-shop .section .cart-footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.main-cart-shop .section .cart-footer .actions{
  padding: 0px 10px;
}
.main-cart-shop .section .cart-footer .subtotal{
  padding: 25px 15px;
  border-bottom: 1px solid var(--semi-white);
  border-top: 1px solid var(--semi-white);
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: var(--black);
}
.main-cart-shop .section .cart-footer .link-btn{
  padding: 15px 0;
  display: block;
  margin: 10px 0;
  text-align: center;
  font-weight: 700;
  color: var(--color-1);
}
.main-cart-shop .section .cart-footer .view-bag{
  border: 1px solid var(--semi-white);
}
.main-cart-shop .section .cart-footer .checkout{
  background-color: var(--color-1);
  color: var(--white);
  transition: .2s;
}
.main-cart-shop .section .cart-footer .checkout:hover{
  background-color: var(--btn-color);
}
/* user dashboard */
.user-dashboard{
  padding-top: 50px;
}
.user-dashboard .nav-content-group{
  margin-bottom: 100px;
}
.user-dashboard .nav .nav-link{
  color: var(--color-1);
  border-radius: 0px;
  margin-bottom: 10px;
  background: none;
  text-align: left;
  padding-left: 0px;
  padding-right: 0px;
  width: max-content;
}
.user-dashboard .nav .nav-link span{
  padding-bottom: 5px;
  border-bottom: none;
  transition: .3s;
  position: relative;
  font-size: 18px;
}
.user-dashboard .nav .nav-link.active{
  background: none;
}
.user-dashboard .nav .nav-link.active span{
  border-bottom: 1px solid var(--color-1);
  color: var(--black);
}
.user-dashboard .nav .nav-link span::after{
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0%;
  height: 1px;
  background: var(--color-1);
  transition: .4s;
}
.user-dashboard .nav .nav-link span:hover::after{
  width: 100%;
}
.user-dashboard .tab-content .title-section{
  color: var(--color-1);
  margin-bottom: 25px;
}
.user-dashboard .tab-content .account-details form .form-control{
  border: none;
  outline: none;
  border-bottom: 1px solid var(--semi-white);
  color: var(--color-1);
  border-radius: 0;
  padding-left: 5px;
  font-size: 15px;
  width: 80%;
}
.user-dashboard .tab-content .account-details form .form-floating>label{
  color: var(--semi-white);
  padding-left: 0px;
  font-size: 15px;
}
.user-dashboard .tab-content .account-details form .form-control:focus{
  box-shadow: none;
}
.user-dashboard .tab-content .account-details form .pw-change .title,
.user-dashboard .tab-content .account-details form .classes .title{
  font-size: 20px;
  font-weight: 500;
  color: var(--color-1);
}
.user-dashboard .tab-content .account-details form .submit-button{
  padding: 10px 30px;
  background: var(--icon-link);
  color: var(--white);
  border: none;
  margin-top: 25px;
}
.user-dashboard .tab-content .orders .table thead th,
.user-dashboard .tab-content .subscriptions .table thead th{
  color: var(--black);
}
.user-dashboard .tab-content .orders .table tbody td,
.user-dashboard .tab-content .subscriptions .table tbody td{
  color: var(--color-1);
}
.user-dashboard .tab-content .subscriptions .table tbody td.c-name a{
  color: var(--color-1);
  transition: .2s;
}
.user-dashboard .tab-content .subscriptions .table tbody td.c-name a:hover{
  color: var(--btn-color);
}
.user-dashboard .tab-content .subscriptions .table tbody td.c-lessons a{
  background-color: rgb(255 195 147);
  color: rgb(51 51 51);
  margin-left: 5px;
  padding: 3px 10px;
  border-radius: 5px;
  font-weight: 500;
}
/* contact us */
.contact-us{
  padding: 100px 0px;
}
.contact-us .description .title-section{
  margin-bottom: 30px;
}
.contact-us .description .address,
.contact-us .description .email,
.contact-us .description .phone{
  margin-bottom: 15px;
  color: var(--black);
}
.contact-us .description .phone svg,
.contact-us .description .email svg{
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
.contact-us .description .address .address-title,
.contact-us .description .email .email-title,
.contact-us .description .phone .phone-title{
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
}

.contact-us .description .address .address-info,
.contact-us .description .email .email-domin a,
.contact-us .description .phone .phone-num a{
  color: var(--color-1);
}
.contact-us .description .social{
  margin-top: 30px;
}
.contact-us .description .social a{
  color: var(--color-1);
  margin-right: 20px;
  transition: .2s;
}
.contact-us .description .social a:hover{
  color: var(--btn-color);
}
.contact-us .description .social svg{
  width: 40px;
  height: 40px;
}
.contact-us .contact-form .head .hint{
  color: var(--color-1);
  margin-bottom: 25px;
}
.contact-us .contact-form .form-control:focus{
  box-shadow: none;
  border-color: var(--btn-color);
}
.contact-us .contact-form .form-btn{
  text-align: right;
}
.contact-us .contact-form .form-btn button{
  padding: 10px 15px;
  background: var(--btn-color);
  color: var(--white);
  outline: none;
  border: none;
  margin-top: 15px;
  margin-right: auto;
  border-radius: 6px;
}
.contact-us .contact-form .form-floating textarea{
  resize: none;
  height: 150px;
}
.contact-us .contact-form .form-floating label{
  color: var(--color-1);
}
/* products page */
.products-page{
  padding-top: 50px;
}
/* .products-page .tabs-link .title{
  font-weight: 600;
  border-top: 1px solid var(--color-1);
  padding: 15px 5px;
  background-color: var(--back-icon);
} */
.products-page .tabs-link{
  padding-top: 15px;
  border-top: 1px solid var(--semi-white);
}
.products-page .tabs-link .item{
  padding: 10px 5px;
}
.products-page .tabs-link .item a{
  color: var(--color-1);
  transition: .2s;
}
.products-page .tabs-link .item a:hover{
  color: var(--black);
}
.products-page .tabs-link .item a.active{
  color: var(--black);
  font-weight: 600;
}
.products-page .product-section .item{
  margin-bottom: 25px;
}
.products-page .product-section .show-more a{
  padding: 15px 40px;
  color: var(--btn-color);
  border: 1px solid var(--btn-color);
  transition: .2s;
}
.products-page .product-section .show-more a:hover{
  background: var(--btn-color);
  color: var(--white);
}