@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  /* color: var(--black); */
}
:root{
  /* --btn-color: #a328c9; */
  /* --btn-color: #3a8bb1; */
  --btn-color: #d19254;
  --white: #fff;
  --black: #0c0c0c;
  --semi-white: #adadad;
  --back-icon: #fcf4ec;
  --icon-link: #c9ab62;
  --sec-padding: 100px;
  --footer-back: #372e29;
  --btn-m-top: 80px;
  --line-color: rgb(218, 218, 218);
  --color-1:rgb(78, 78, 78);
}
a{
  text-decoration: none;
}
.started-btn{
  background-color: var(--btn-color);
  color: var(--white);
  margin: 0 auto;
  padding: 15px 40px;
  /* background: rgb(250,243,92);
  background: radial-gradient(circle, rgb(223 156 69) 0%, rgb(223 138 71) 100%); */
  /* background: rgb(232,173,114);
  background: linear-gradient(0deg, rgba(232,173,114,1) 0%, rgba(209,146,84,1) 100%); */
}
.btn-section{
  margin-top: var(--btn-m-top);
}
.sec-padding{
  padding-bottom: var(--sec-padding);
}
.btn-link{
  position: relative;
  text-decoration: none!important;
  color: var(--black);
}
.btn-link:hover{
  color: var(--black);
}
.btn-link::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--black);
  bottom: -5px;
  transition: .3s;
  left: 0;
}
.btn-link:hover::after{
  width: 0;
}
.head-nav .up-nav{
  padding: 10px 0;
  background-color: var(--black);
}
.head-nav .up-nav a{
  color: var(--white);
}
.navbar a{
  color: var(--black);
}
.navbar .icons a{
  margin-left: 30px;
}
.navbar .navbar-brand{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.navbar .navbar-brand img{
  width: 30px;
}
.navbar-nav .nav-link{
  position: relative;
  transition: .3s;
  margin-right: 25px;
  padding-left: 0!important;
  padding-right: 0!important;
}
.navbar-nav .nav-link:hover::after{
  width: 100%;
}
.navbar-nav .nav-link::after{
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  background-color: var(--black);
  bottom: -5px;
  transition: .2s;
  left: 0;
}
.head-nav {
  background: rgb(255,251,246);
  background: -moz-linear-gradient(0deg, rgba(255,251,246,1) 0%, rgba(252,244,236,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(255,251,246,1) 0%, rgba(252,244,236,1) 100%);
  background: linear-gradient(0deg, rgba(255,251,246,1) 0%, rgba(252,244,236,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffbf6",endColorstr="#fcf4ec",GradientType=1);
}
.head-nav .header-des{
  margin-bottom: 25px;
  padding-top: 50px;
}
.head-nav .header-des .main-des{
  font-size: 60px;
}
.head-nav .header-des .sec-des{
  font-size: 30px;
}
.auto-animate{
  display: flex;
  overflow: hidden;
}
.auto-animate.links{
  background: var(--back-icon);
  padding: 40px 0px;
  margin-top: 100px;
}
.auto-animate.links a{
  color: var(--icon-link);
}
 .auto-animate .sec{
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  white-space: nowrap;
  animation: animateImg 0s linear infinite;
  will-change: transform;
  flex-shrink: 0;
  animation-duration: 100s;
}
@keyframes animateImg{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}
.auto-animate .sec a img{
  width: 250px;
  height: 200px;
  border-radius: 5px;
}
.auto-animate .sec a h3{
  border-radius: 5px;
}
.knowledge .all-desc{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.knowledge a{
  color: var(--black);
  position: relative;
  overflow: hidden;
  text-decoration: underline;
}
.knowledge .video{
  background-color: var(--semi-white);
  width: 90%;
  height: 380px;
  position: relative;
}
.knowledge .video .img-screen{
  width: 100%;
  height: 100%;
}
.knowledge .video .img-container{
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
}
.knowledge .video .animate-rotate{
  animation-duration: 30s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-name: introducing_circle;
  animation-iteration-count: infinite;
}
@keyframes introducing_circle {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }

  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg)
  }
}
.knowledge .back-img{
  position: relative;
  height: 100%;
}
.knowledge .back-img .play-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(calc(50% - 100%),calc(50% - 100%)); */
  transform: translate(-50%, -50%);
  padding: 50px;
  border: 1px solid var(--btn-color);
  background: rgba(0, 0, 0, .1);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 50%;
  cursor: pointer;
}
.knowledge .back-img .play-btn .title{
  color: var(--white);
}
.classes .item .title{
  width: 180px;
  margin: auto;
}
.classes .item .icon{
  position: relative;
  margin-bottom: 35px;
}
.classes .item .icon::after{
  content: '';
  position: absolute;
  top: 50%;
  background-color: var(--back-icon);
  padding: 35px;
  border-radius: 50%;
  margin: auto;
  right: 50%;
  z-index: -1;
  transform: translate(50%,-50%);
}
.dessert .tab-links{
  margin: 50px 0px;
}
.dessert .tab-links a{
  background-color: var(--btn-color);
  color: var(--white);
  padding: 10px 20px;
  margin: 0px 10px;
}
.dessert .item{
  position: relative;
  background: var(--back-icon);
  display: flex;
  padding: 20px 0px;
  border-radius: 10px;
  height: 450px;
  flex-direction: column;
  justify-content: space-between;
  color: var(--black);
}
.dessert .item .cart-icon{
  position: absolute;
  top: 10px;
  right: 15px;
}
.dessert .item .cart-icon svg{
  color: var(--black);
  font-size: 20px;
  /* background-color: #fff; */
  padding: 5px;
  border-radius: 5px;
  transition: .2s;
}
.dessert .item .cart-icon svg:hover{
  color: var(--btn-color);
}
.dessert .item img{
  height: 250px;
  max-width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px;
}
.dessert .item .title{
  padding: 0px 15px;
}
.dessert .item .price{
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid var(--semi-white);
}
.cards .item{
  padding: 0px 20px;
}
.cards .item a{
  color: var(--black);
}
.cards .item img{
  height: 400px;
  margin-bottom: 25px;
}
.cards .item .title{
  margin-bottom: 25px;
}

.rates .ratesSwiper .swiper-slide{
  width: 45%;
  margin-right: 20px;
}
.rates .ratesSwiper .item{
  display: flex;
  background-color: var(--back-icon);
  padding: 50px 25px;
  border-radius: 5px;
}
.rates .ratesSwiper .item img{
  width: 265px;
  height: 200px;
  margin-right: 25px;
  border-radius: 5px;
}
.rates .ratesSwiper .item .info {
  font-size: 18px;
  font-weight: 500;
}
.rates .ratesSwiper .item .info .comment{
  margin: 10px 0px;
}
.blogs .blogsSwiper .item{
  padding: 0px 20px;
}
.blogs .blogsSwiper .item img{
  width: 100%;
  height: 200px;
}
.blogs .blogsSwiper .item .title a,
.blogs .blogsSwiper .item .hint a{
  color: var(--black);
}
.blogs .blogsSwiper .item .hint{
  margin: 10px 0;
}
.featured .imges{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.featured .imges img{
  height: 100%;
}
.unlock{
  background-color: var(--back-icon);
  padding: 100px 0;
}
.unlock .buttons a{
  margin: 0 10px;
}
.unlock .buttons a.gift{
  margin: 0px 10px;
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  margin: 0 auto;
  padding: 10px 30px;
}
.subscribe form .email-section{
  width: 100%;
  margin-top: 80px;
  border-bottom: 2px solid var(--semi-white);
  position: relative;
  padding: 15px 0;
}
.subscribe form .email-section .email{
  width: 100%;
  border: none;
  outline: none;
  padding-right: 20px;
}
.subscribe form .email-section .submit{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(calc(50% - 100%));
  color: var(--btn-color);
  background: none;
  outline: none;
  border: none;
  font-size: 18px;
}
.footer{
  background-color: var(--footer-back);
  color: var(--white);
  padding: 100px 0;
}
.footer .title{
  margin-bottom: 25px;
}
.footer li a{
  color: var(--white);
  text-decoration: none;
  font-weight: 500;
}
.footer ul{
  padding: 0;
}
.footer li{
  list-style-type: none;
  margin-bottom: 10px;
}
.footer ul.social li svg{
  margin-right: 5px;
}
.modal{
  --bs-modal-width: 650px;
}
.modal-content{
  padding-bottom: 25px;
}
.modals .modal-header{
  border-bottom: none;
}
.modals .remember-sec label{
  color: var(--color-1);
}
.modals .remember-sec label,
.modals .remember-sec input{
  cursor: pointer;
}
.modals .social .title{
  position: relative;
  color: var(--color-1);
}
.modals .social .title::after{
  content: '';
  position: absolute;
  width: 36%;
  height: 1px;
  background-color: var(--line-color);
  top: 50%;
  left: 0;
}
.modals .social .title::before{
  content: '';
  position: absolute;
  width: 36%;
  height: 1px;
  background-color: var(--line-color);
  top: 50%;
  right: 0;
}
.modals .social a{
  padding: 8px 16px;
  background-color: var(--footer-back);
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  margin-left: 7px;
  margin-right: 7px;
}
.modals .social a.facebook{
  background-color: #316FF6;
  color: var(--white);
}
.modals .social a.google{
  background-color: #EA4335;
  color: var(--white);
}
.modals .btn-login,
.modals .btn-sign,
.modals .btn-reset,
.modals .back-login{
  background-color: var(--btn-color);
  padding: 10px 0;
  color: var(--white);
  border: none;
  border-radius: 5px;
}
.modals .link-color{
  color: var(--color-1);
  text-decoration: underline;
  font-size: 15px;
}
.modals .link-color.back-to-login{
  text-decoration: none;
}
.modals .login-signup .tab-btn{
  background-color: var(--white);
  color: black;
  border: none;
  padding: 8px 25px;
  border-radius: 6px 0 0 6px;
}
.modals .login-signup .tab-btn.sign{
  border-radius: 0 6px 6px 0;
}
.modals .login-signup .tab-btn.active{
  /* background-color: var(--footer-back); */
  background-color: rgb(70, 70, 70);
  color: var(--white);
}
.modal-body .form-check .form-check-input:focus{
  box-shadow: none;
}
.modal-body .form-check .form-check-input{
  float: none;
}
.modal-body .form-control{
  box-shadow: none;
}
.modal-body label{
  left: auto;
}
.modal-body .form-check-input:checked {
  background-color: var(--color-1);
  border-color: var(--color-1);
}
/* courses */
.courses{
  padding: 100px 0;
}
.courses .img{
  position: relative;
  height: 250px;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
}
.courses .img img{
  width: 100%;
  transition: .3s;
}
.courses .description{
  padding: 25px 15px;
  padding-right: 30px;
  background-color: #f5f5f5;
  position: relative;
  box-shadow: 0px 6px 15px -15px var(--black);
}
.courses .prices{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-25px, -50%);
  display: flex;
}
.courses .price{
  padding: 5px 10px;
  background-color: var(--btn-color);
  color: var(--white);
  border-radius: 5px;
  font-size: 15px;
}
.courses .price:last-child{
  margin-left: 10px;
}
.courses .category{
  margin-bottom: 10px;
}
.courses .category a{
  color: var(--btn-color);
  padding: 1px 3px;
  border-radius: 3px;
  background-color: var(--white);
  font-size: 15px;
}
.courses .title a{
  color: var(--black);
}
.courses .title,
.courses .rate,
.courses .desc
{
  margin-bottom: 5px;
}
.courses .groups{
  padding-top: 15px;
  color: #5c5b5b;
  font-size: 14px;
}
.header-page{
  padding-top: 100px;
  padding-bottom: 100px;
  /* background-color: var(--back-icon); */
  background: rgb(255,251,246);
  background: -moz-linear-gradient(0deg, rgba(255,251,246,1) 0%, rgba(252,244,236,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(255,251,246,1) 0%, rgba(252,244,236,1) 100%);
  background: linear-gradient(0deg, rgba(255,251,246,1) 0%, rgba(252,244,236,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffbf6",endColorstr="#fcf4ec",GradientType=1);  
}
.courses .img .buy{
  position: absolute;
  top: 25px;
  transition: .3s;
  opacity: 0;
  right: 25px;
}
.courses .img .buy a{
  padding: 5px 15px;
  font-size: 14px;
  background-color: var(--btn-color);
  color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 1px 4px -1px var(--black);
}
.star-rating {
  font-size: 24px;
  cursor: pointer;
}
.star {
  color: #999;
  display: inline-block;
  margin-right: 5px;
  transition: .3s;
}
.star.active {
  color: #ffcc00;
}
/* single course page */
.course-buy .details{
  background-color: var(--white);
  padding: 5px;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 0px 3px var(--line-color);
  margin-top: -150px;
}
.course-buy .details .video{
  position: relative;
  height: 220px;
  border-radius: 5px;
  overflow: hidden;
}
.course-buy .details .video img{
  width: 100%;
  height: 100%;
}
.course-buy .details .video .play-btn{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 20px;
    border: 1px solid var(--semi-white);
    background: rgba(0, 0, 0, .3);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 15px;
    color: var(--white);
    cursor: pointer;
}
.course-buy .details svg{
  color: var(--color-1);
  font-size: 15px;
}
.course-buy .details .video .play-btn svg{
  font-size: 25px;
  color: var(--white);
}
.course-buy .details .item{
  display: flex;
  justify-content: space-between;
  padding: 20px 5px;
  border-bottom: 1px solid var(--line-color);
}
.course-buy .details .item.price .num span{
  color: var(--white);
  background-color: var(--icon-link);
  padding: 1px 5px;
  border-radius: 3px;
}
.course-buy .details .item.price .num .dollar{
  margin-right: 5px;
}
.course-buy .details .item:last-child{
  border-bottom: none;
}
.course-buy .details .item .buy-btn{
  padding: 15px 0px;
  background-color: var(--btn-color);
  color: var(--white);
  outline: none;
  border: none;
  border-radius: 5px;
}
.course-buy .course-info .tab-content{
  padding: 0px 10px;
}
.course-buy .course-info .nav{
  background-color: var(--back-icon);
  padding: 5px 0px;
  margin-bottom: 25px;
}
.course-buy .course-info .nav .nav-item{
  width: 33.3333%;

}
.course-buy .course-info .nav .nav-item button{
  color: var(--black);
  width: 100%;
}
.course-buy .course-info .nav .nav-item button.active{
  color: var(--white);
  background-color: var(--btn-color);
}
.course-buy .course-info .swiper .swiper-slide{
  display: flex;
  cursor: grab;
}
.course-buy .course-info .swiper .swiper-slide .img{
  min-width: 250px;
  width: 250px;
  height: 200px;
  overflow: hidden;
  margin-right: 10px;
}
.course-buy .course-info .swiper .swiper-slide img{
  border-radius: 5px;
  width: 100%;
}
.course-buy .course-info .swiper .swiper-slide .description .name h5{
  margin-bottom: 5px;
}
.course-buy .course-info .swiper .swiper-slide .description .name a{
  color: var(--black);
}
.course-buy .course-info .swiper .swiper-slide .description .category{
  margin-bottom: 15px;
}
.chefsSwiper{
  padding-right: 75px;
}
.course-buy .course-info .reviews .item{
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
}
.course-buy .course-info .reviews .item::after{
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--line-color);
}
.course-buy .course-info .reviews .item:last-child:after{
  background: none;
}
.course-buy .course-info .reviews .img{
  min-width: 100px;
  width: 100px;
  overflow: hidden;
  height: 100px;
  margin-right: 10px;
  margin-top: 10px;
}
.course-buy .course-info .reviews .img img{
  border-radius: 50%;
  width: 100%;
  height: 100%;  
  padding: 2px;
  border: 1px solid var(--line-color);
}
.course-buy .course-info .reviews .username{
  font-weight:700;
  margin: 3px 0px;
}
.course-buy .course-info .reviews .comment{
  width: 70%;
}
/* may like course */
.course-buy .maylikeSwiper .img{
  position: relative;
  height: 250px;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
}
.course-buy .maylikeSwiper .img img{
  width: 100%;
  transition: .3s;
}
.course-buy .maylikeSwiper .description{
  padding: 25px 15px;
  padding-right: 30px;
  background-color: #f5f5f5;
  position: relative;
  box-shadow: 0px 6px 15px -15px var(--black);
}
.course-buy .maylikeSwiper .prices{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-25px, -50%);
  display: flex;
}
.course-buy .maylikeSwiper .price{
  padding: 5px 10px;
  background-color: var(--btn-color);
  color: var(--white);
  border-radius: 5px;
  font-size: 15px;
}
.course-buy .maylikeSwiper .price:last-child{
  margin-left: 10px;
}
.course-buy .maylikeSwiper .category{
  margin-bottom: 10px;
}
.course-buy .maylikeSwiper .category a{
  color: var(--btn-color);
  padding: 1px 3px;
  border-radius: 3px;
  background-color: var(--white);
  font-size: 15px;
}
.course-buy .maylikeSwiper .title a{
  color: var(--black);
}
.course-buy .maylikeSwiper .title,
.course-buy .maylikeSwiper .rate,
.course-buy .maylikeSwiper .desc
{
  margin-bottom: 5px;
}
.course-buy .maylikeSwiper .groups{
  padding-top: 15px;
  color: #5c5b5b;
  font-size: 14px;
}
.header-page{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--back-icon);
}
.course-buy .maylikeSwiper .img .buy{
  position: absolute;
  top: 25px;
  transition: .3s;
  opacity: 0;
  right: 25px;
}
.course-buy .maylikeSwiper .img .buy a{
  padding: 5px 15px;
  font-size: 14px;
  background-color: var(--btn-color);
  color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 1px 4px -1px var(--black);
}
.course-buy .may-like{
  border-top: 1px solid var(--line-color);
  padding-top: 25px;
}
/* video page */
.video-page{
  padding: 50px 0;
}
.video-page .video-section .video-frame{
  padding-bottom: 25px;
  position: relative;
}
.video-page .video-section .video-frame::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: var(--line-color);
}
.video-page .video-section .video-frame iframe{
  width: 100%;
  height: 500px;
  background-color: var(--black);
}
.video-page .description{
  padding-top: 25px;
}
.video-page .nav-pills .nav-item{
  /* width: 33.3333%; */
  width: 50%;
  background: var(--back-icon);
}
.video-page .nav-pills .nav-link{
  width: 100%;
  border-radius: 0;
  color: var(--color-1);
  font-weight: 600;
}
.video-page .nav-pills .nav-link.active{
  background-color: var(--btn-color);
  transition: .1s;
  color: var(--white);
}
.video-page .comment-main .title{
  margin-top: 15px;
}
.video-page .comment-main .comment-item{
  display: flex;
  margin-top: 15px;
  position: relative;
  padding: 25px 0;
  border-bottom: 1px solid var(--line-color);
}
.video-page .comment-main .comment-item:last-child{
  border-bottom: none;
}
.video-page .comment-main .comment-item .img{
  width: 200px;
  height: 100px;
  margin-right: 15px;
}
.video-page .comment-main .comment-item .img img{
  border-radius: 5px;
}
.video-page .comment-main .comment-item{
  color: var(--black);
}
.video-page .comment-main .comment-item .date{
  color: var(--color-1);
  font-size: 15px;
}
.video-page .comment-main .comment-item .comment-words{
  width: 75%;
  text-align: justify;
}
.video-page .insert-comment{
  padding: 5px;
}
.video-page .insert-comment form{
  text-align: right;
}
.video-page .insert-comment textarea{
  outline: none;
  height: 150px;
  resize: none;
}
.video-page .insert-comment textarea:focus{
  border-color: var(--semi-white);
  box-shadow: none;
}
 .insert-comment .submit{
  margin-top: 15px;
  padding: 5px 20px;
  background: var(--btn-color);
  color: var(--white);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-right: auto;
}
.video-page .videos-list{
  background: #f9f9f9;
}
.video-page .videos-list .title-section{
  /* background: #d19254; */
  background-color: var(--color-1);
  color: white;
  padding: 20px 0;
  margin-bottom: 0;
}
.video-page .videos-list .videos-group{
  overflow-y: scroll;
  max-height: 700px;
  scrollbar-width:thin;
  scrollbar-color:  var(--line-color) #f9f9f9;
  padding-left: 3px;
}
.video-page .item{
  color: var(--color-1);
}
.video-page .video-item{
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}
.video-page .video-item.active{
  /* background-color: #fff0df; */
  background-color: var(--line-color);
}
.video-page .video-item .video-img{
  position: relative;
  overflow: hidden;
  width: 90px;
  /* height: 130px; */
  margin-right: 5px;
}
.video-page .video-item .video-img img{
  transition: .3s;
}
.video-page .video-item .video-img .play-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border: 1px solid var(--btn-color);
  background: rgba(0, 0, 0, .5);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 5px;
  cursor: pointer;
}
.video-page .video-item .video-img .play-btn svg{
  font-size: 30px;
  color: var(--white);
}
.video-page .video-item .desc .title a{
  font-size: 15px;
  font-weight: 600;
  color: var(--color-1);
}
.video-page .video-item .desc .time{
  font-size: 14px;
  color: #5c5b5b;
}
