@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  /* color: var(--black); */
}
:root{
  --btn-color: #a328c9;
  --white: #fff;
  --black: #0c0c0c;
  --semi-white: #adadad;
  --back-icon: #faf0e6;
  --icon-link: #c9ab62;
  --sec-padding: 100px;
  --footer-back: #372e29;
  --btn-m-top: 80px;
}
a{
  text-decoration: none;
}
.started-btn{
  background-color: var(--btn-color);
  color: var(--white);
  margin: 0 auto;
  padding: 15px 40px;
}
.btn-section{
  margin-top: var(--btn-m-top);
}
.sec-padding{
  padding-bottom: var(--sec-padding);
}
.btn-link{
  position: relative;
  text-decoration: none!important;
  color: var(--black);
}
.btn-link:hover{
  color: var(--black);
}
.btn-link::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--black);
  bottom: -5px;
  transition: .3s;
  left: 0;
}
.btn-link:hover::after{
  width: 0;
}
.head-nav .up-nav{
  padding: 10px 0;
  background-color: var(--black);
}
.head-nav .up-nav a{
  color: var(--white);
}
.navbar a{
  color: var(--black);
}
.navbar .icons a{
  margin-left: 30px;
}
.navbar .navbar-brand{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.navbar .navbar-brand img{
  width: 30px;
}
.navbar-nav .nav-link{
  position: relative;
  transition: .3s;
  margin-right: 25px;
  padding-left: 0!important;
  padding-right: 0!important;
}
.navbar-nav .nav-link:hover::after{
  width: 100%;
}
.navbar-nav .nav-link::after{
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  background-color: var(--black);
  bottom: -5px;
  transition: .2s;
  left: 0;
}
.head-nav .header-des .main-des{
  font-size: 60px;
}
.head-nav .header-des .sec-des{
  font-size: 30px;
}
.auto-animate{
  display: flex;
  overflow: hidden;
}
.auto-animate.links{
  background: var(--back-icon);
  padding: 40px 0px;
  margin-top: 100px;
}
.auto-animate.links a{
  color: var(--icon-link);
}
 .auto-animate .sec{
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  white-space: nowrap;
  animation: animateImg 0s linear infinite;
  will-change: transform;
  flex-shrink: 0;
  animation-duration: 100s;
}
@keyframes animateImg{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}
.auto-animate .sec a img{
  width: 250px;
  height: 200px;
  border-radius: 5px;
}
.auto-animate .sec a h3{
  border-radius: 5px;
}
.knowledge .all-desc{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.knowledge a{
  color: var(--black);
  position: relative;
  overflow: hidden;
  text-decoration: underline;
}
.knowledge .video{
  background-color: var(--semi-white);
  width: 90%;
  height: 380px;
  position: relative;
}
.knowledge .video .img-screen{
  width: 100%;
  height: 100%;
}
.knowledge .video .img-container{
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
}
.knowledge .video .animate-rotate{
  animation-duration: 30s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-name: introducing_circle;
  animation-iteration-count: infinite;
}
@keyframes introducing_circle {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }

  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg)
  }
}
.knowledge .back-img{
  position: relative;
  height: 100%;
}
.knowledge .back-img .play-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(calc(50% - 100%),calc(50% - 100%)); */
  transform: translate(-50%, -50%);
  padding: 50px;
  border: 1px solid var(--btn-color);
  background: rgba(0, 0, 0, .1);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 50%;
}
.knowledge .back-img .play-btn .title{
  color: var(--white);
}
.classes .item .title{
  width: 180px;
  margin: auto;
}
.classes .item .icon{
  position: relative;
  margin-bottom: 35px;
}
.classes .item .icon::after{
  content: '';
  position: absolute;
  top: 50%;
  background-color: var(--back-icon);
  padding: 35px;
  border-radius: 50%;
  margin: auto;
  right: 50%;
  z-index: -1;
  transform: translate(50%,-50%);
}
.dessert .tab-links{
  margin: 50px 0px;
}
.dessert .tab-links a{
  background-color: var(--btn-color);
  color: var(--white);
  padding: 10px 20px;
  margin: 0px 10px;
}
.dessert .item{
  position: relative;
  background: var(--back-icon);
  display: flex;
  padding: 20px 0px;
  border-radius: 10px;
  height: 450px;
  flex-direction: column;
  justify-content: space-between;
  color: var(--black);
}
.dessert .item .cart-icon{
  position: absolute;
  top: 10px;
  right: 15px;
}
.dessert .item .cart-icon svg{
  color: var(--black);
  font-size: 20px;
  /* background-color: #fff; */
  padding: 5px;
  border-radius: 5px;
  transition: .2s;
}
.dessert .item .cart-icon svg:hover{
  color: var(--btn-color);
}
.dessert .item img{
  height: 250px;
  max-width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px;
}
.dessert .item .title{
  padding: 0px 15px;
}
.dessert .item .price{
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid var(--semi-white);
}
.cards .item{
  padding: 0px 20px;
}
.cards .item a{
  color: var(--black);
}
.cards .item img{
  height: 400px;
  margin-bottom: 25px;
}
.cards .item .title{
  margin-bottom: 25px;
}

.rates .ratesSwiper .swiper-slide{
  width: 45%;
  margin-right: 20px;
}
.rates .ratesSwiper .item{
  display: flex;
  background-color: var(--back-icon);
  padding: 50px 25px;
  border-radius: 5px;
}
.rates .ratesSwiper .item img{
  width: 265px;
  height: 200px;
  margin-right: 25px;
  border-radius: 5px;
}
.rates .ratesSwiper .item .info {
  font-size: 18px;
  font-weight: 500;
}
.rates .ratesSwiper .item .info .comment{
  margin: 10px 0px;
}
.blogs .blogsSwiper .item{
  padding: 0px 20px;
}
.blogs .blogsSwiper .item img{
  width: 100%;
  height: 200px;
}
.blogs .blogsSwiper .item .title a,
.blogs .blogsSwiper .item .hint a{
  color: var(--black);
}
.blogs .blogsSwiper .item .hint{
  margin: 10px 0;
}
.featured .imges{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.featured .imges img{
  height: 100%;
}
.unlock{
  background-color: var(--back-icon);
  padding: 100px 0;
}
.unlock .buttons a{
  margin: 0 10px;
}
.unlock .buttons a.gift{
  margin: 0px 10px;
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  margin: 0 auto;
  padding: 10px 30px;
}
.subscribe form .email-section{
  width: 100%;
  margin-top: 80px;
  border-bottom: 2px solid var(--semi-white);
  position: relative;
  padding: 15px 0;
}
.subscribe form .email-section .email{
  width: 100%;
  border: none;
  outline: none;
  padding-right: 20px;
}
.subscribe form .email-section .submit{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(calc(50% - 100%));
  color: var(--btn-color);
  background: none;
  outline: none;
  border: none;
  font-size: 18px;
}
.footer{
  background-color: var(--footer-back);
  color: var(--white);
  padding: 100px 0;
}
.footer .title{
  margin-bottom: 25px;
}
.footer li a{
  color: var(--white);
  text-decoration: none;
  font-weight: 500;
}
.footer ul{
  padding: 0;
}
.footer li{
  list-style-type: none;
  margin-bottom: 10px;
}
.footer ul.social li svg{
  margin-right: 5px;
}
.modal{
  --bs-modal-width: 650px;
}
.modal-content{
  padding-bottom: 25px;
}
.modals .modal-header{
  border-bottom: none;
}
.modals .social a{
  padding: 10px 15px;
  background-color: var(--footer-back);
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  margin-left: 7px;
  margin-right: 7px;
}
.modals .btn-login,
.modals .btn-sign,
.modals .btn-reset,
.modals .back-login{
  background-color: var(--footer-back);
  padding: 10px 0;
  color: var(--white);
  border: none;
  border-radius: 5px;
}
.modals .link-color{
  color: #196896;
}
.modals .login-signup .tab-btn{
  background-color: var(--white);
  color: black;
  border: none;
  padding: 8px 25px;
  border-radius: 6px 0 0 6px;
}
.modals .login-signup .tab-btn.sign{
  border-radius: 0 6px 6px 0;
}
.modals .login-signup .tab-btn.active{
  background-color: var(--footer-back);
  color: var(--white);
}
.modal-body .form-check .form-check-input:focus{
  box-shadow: none;
}
.modal-body .form-check .form-check-input{
  float: none;
}
.modal-body .form-control{
  box-shadow: none;
}
.modal-body label{
  left: auto;
}
.modal-body .form-check-input:checked {
  background-color: var(--footer-back);
  border-color: var(--footer-back);
}
/* courses */
.courses{
  padding: 100px 0;
}
.courses .img{
  position: relative;
  height: 250px;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
}
.courses .img img{
  width: 100%;
  height: 100%;
  transition: .3s;
}
.courses .description{
  padding: 25px 15px;
  padding-right: 30px;
  background-color: #f5f5f5;
  position: relative;
  box-shadow: 0px 6px 11px -9px var(--black);
}
.courses .prices{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-25px, -50%);
  display: flex;
}
.courses .price{
  padding: 5px 10px;
  background-color: var(--btn-color);
  color: var(--white);
  border-radius: 5px;
  font-size: 15px;
}
.courses .price:last-child{
  margin-left: 10px;
}
.courses .category{
  margin-bottom: 10px;
}
.courses .category a{
  color: var(--btn-color);
}
.courses .title a{
  color: var(--black);
}
.courses .title,
.courses .rate,
.courses .desc
{
  margin-bottom: 5px;
}
.courses .groups{
  padding-top: 15px;
  color: #5c5b5b;
}
.header-page{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--back-icon);
}
.courses .img .buy{
  position: absolute;
  top: 25px;
  transition: .3s;
  opacity: 0;
  right: 25px;
}
.courses .img .buy a{
  padding: 5px 15px;
  font-size: 14px;
  background-color: var(--btn-color);
  color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 1px 4px -1px var(--black);
}
.star-rating {
  font-size: 24px;
  cursor: pointer;
}
.star {
  color: #999;
  display: inline-block;
  margin-right: 5px;
  transition: .3s;
}
.star.active {
  color: #ffcc00;
}
/* single course page */
.course-buy .details{
  background-color: var(--white);
  padding: 5px;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 0px 3px var(--semi-white);
  margin-top: -150px;
}
.course-buy .details .video{
  position: relative;
  height: 220px;
  border-radius: 5px;
  overflow: hidden;
}
.course-buy .details .video img{
  width: 100%;
  height: 100%;
}
.course-buy .details .video .play-btn{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 20px;
    border: 1px solid var(--semi-white);
    background: rgba(0, 0, 0, .3);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 15px;
    color: var(--white);
}
.course-buy .details .video .play-btn svg{
  font-size: 25px;
}
.course-buy .details .item{
  display: flex;
  justify-content: space-between;
  padding: 20px 5px;
  border-bottom: 1px solid var(--semi-white);
}
.course-buy .details .item:last-child{
  border-bottom: none;
}
.course-buy .details .item .buy-btn{
  padding: 15px 0px;
  background-color: var(--btn-color);
  color: var(--white);
  outline: none;
  border: none;
  border-radius: 5px;
}